form {
    br {
        height:36pt;
    }
}

.form-row {
    display: flex;
    flex-direction: column;
    gap: 3pt;
    margin: 12pt 0;

    label {
        text-transform: uppercase;
    }

    input, select{
        height:32pt;
        padding:3pt; 
        box-sizing: border-box;
    }

    .file-list-entry {
        width:100vw;
        display:grid;
        grid-template-columns: 5fr 1fr;
        gap:12pt;

        .details {
            max-width: 100%;
            overflow:hidden;
            .filename {
                width:100%pt;
                overflow:hidden;
                text-overflow: ellipsis;
            }
        }
    }
}

table {
    border-collapse: collapse;
    text-align: left;
    th, td {
        padding: 6pt 24pt; 
        box-sizing: border-box;
    }
    thead {
        background:rgba(0,0,0,.05);
    }

    td.filecolumn {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

img {
    width:100%;
    height: auto;
    max-width: 600px;
}