@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

// Small tablets and large smartphones (landscape view)
$screen-mobile: 700px;

// Small devices
@mixin mobile {
    @media (max-width: #{$screen-mobile}) {
        @content;
    }
}

* {
    font-family: 'Open Sans', sans-serif;
}

html {
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    background-color: #ECF0F1;
}

.body {
    display: flex;
    flex-direction: column;
    gap: 24pt;
    padding: 24pt;

    @include mobile {
        padding: 3pt;
        gap: 12pt;
    }
}

nav {
    height: 52pt;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 12pt;
    padding: 0 36pt;
    justify-content: space-between;

    a {
        font-weight: bold;
        text-decoration: none;
        color: black;
        margin: 0;
        padding: 0;
    }

    @include mobile {
        padding: 0 12pt
    }
}

.page {
    width: 100%;
    box-sizing: border-box;
    background: white;
    border-radius: 12pt;
    padding: 32pt;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 24pt;

    .page-title {
        font-weight: 500;
        text-align: center;
    }

    @include mobile {
        padding: 16pt
    }
}

.form-row {
    display: flex;
    flex-direction: column;
    gap: 24pt;

    label {
        text-transform: uppercase;
    }

    input,
    select {
        height: 32pt;
        padding: 3pt;
        box-sizing: border-box;
    }
}

table {
    width: 100%;
    box-sizing: border-box;
    border-spacing: 0 24pt;

    tbody,
    thead {
        margin: 0;
    }

    th {
        color: #A2A2A2;
    }

    .record-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 6pt;

        .name,
        .description,
        .date,
        p {
            margin: 0;
            padding: 0;
        }

        .name {
            font-weight: bold;
            color: black;
        }

        .description,
        .date {
            color: #A1A1A1;
            font-size: 9pt;
        }
    }

    .left {
        text-align: left;
    }

    .center {
        text-align: center;
    }

    .right {
        text-align: right;
    }

    p,
    a,
    h3,
    h2 {
        text-decoration: none;
        ;
    }
}

img {
    width: 100%;
    height: auto;
    max-width: 600px;
}

.tablet {
    height: 24pt;
    display: flex;
    background-color: #DEF7E9;
    color: #77E2A4;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    border-radius: 12pt;
    padding: 0 16pt;
    font-weight: bold;
    font-size: 9pt;
}

.btn {
    background: black;
    width: 100%;
    min-height: 52pt;
    border-radius: 3pt;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-decoration: none;
    color: white;
    padding: 0;
    margin: 0;
    border: none;
    &.secondary {
        background:white;
        color:black;
        outline: 2pt solid black;
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: 24pt;

    br {
        height: 36pt;
    }

}

.form-row {
    display: flex;
    flex-direction: row;
    gap: 24pt;
    justify-content: center;

    .form-entry {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 3pt;
        background-color: #ECF0F1;
        border-radius: 3pt;
        padding: 12pt;
        box-sizing: border-box;

        .file-list-entry {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .filename {
                text-decoration: none;
                color: rgb(54, 70, 254);
                p {
                    padding:0;
                    margin:0;
                    width:150pt;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }

        label {
            font-size: 9pt;
            font-weight: 600;
            color: #A1A1A1;
        }

        input {
            width: 100%;
            ;
            border: none;
            background: none;
            font-size: 12pt;
            font-family: 'Open Sans', sans-serif;
            font-weight: 500;
            height: fit-content;
            padding: 0;
            margin: 0;

            &:focus {
                outline: none
            }
        }
    }
}